<!-- <app-child></app-child>
<app-child><p>Какие-то данные</p></app-child> -->
<!-- lesson 31 -->
<!-- <h1>Текущее значение: {{ exampleObservable$ | async }}</h1> -->

<!-- @if (exampleObservable$ | async; as data) {
  <h1>Предыдущее значение: {{ data.previousValue }}</h1>
  <h1>Текущее значение: {{ data.currentValue }}</h1>
  <h1>Следующее значение: {{ data.nextValue }}</h1>

  <app-child [currentValue]="data.currentValue"></app-child>
}

<app-child
  [currentValue]="(exampleObservable$ | async).currentValue"
></app-child>

<h1>{{ examplePromise$ | async }}</h1>
<app-child [currentValue]="examplePromise$ | async"></app-child> -->

<!-- lesson 32 -->
<!-- <h1>{{ title }}</h1> -->

<!-- @if (interval$ | async; as number) {
  <app-child [number]="number"></app-child>
} -->

<!-- <app-child [number]="15"></app-child> -->

<!-- <button (click)="handleClick()">Click</button> -->

<!-- <h2>{{ interval$ | async }}</h2> -->

<!-- <h2>{{ signal() }}</h2> -->

<!-- lesson 36 -->
<!-- <app-child name="Вася"></app-child> -->
<!-- <app-child [name]="name"></app-child> -->

<!-- lesson 37 -->
@if (users) {
  <p>Первый список</p>
  <ul>
    @for (user of users; track $index) {
      <li>{{ user.name }}</li>
    }
  </ul>
}

<hr />

@if (users$ | async; as users) {
  <p>Второй список</p>
  <ul>
    @for (user of users; track $index) {
      <li>{{ user.name }}</li>
    }
  </ul>
}
