<!-- <h1>{{ title | lowercase }}</h1>
<h1>{{ title | uppercase }}</h1>
<h1>{{ 'какая-то строка' | uppercase }}</h1>
<h1>{{ 'какая-то строка вместе с переменной title' | titlecase }}</h1>

<p>{{ user | json }}</p>
<p>{{ 'какая-то строка' | slice : 2 }}</p>
<p>{{ 'какая-то строка' | slice : 2 : 6 }}</p>
<p>{{ someDate }}</p>
<p>{{ someDate | date }}</p>
<p>{{ someDate | date : "YYYY-MM-DDThh:mm:ssTZD" }}</p>
<p>{{ someDate | date : "YYYY-MM-DDThh:mm:ssTZD" | slice : 0 : 7 }}</p>

<div>
  <p>{{ user.name }}</p>
  <p>{{ user.age }}</p>
</div>

<a href="#" [title]="tooltip">ссылка куда-то</a>
<br>
<a href="#" bind-title="tooltip">ссылка куда-то bind</a> -->

<!-- стили -->

<!-- <p class="red">Красный цвет</p>
<p style="color: red">Красный цвет</p>

<p [class]="cssClass">Красный цвет</p>
<p [style]="inLineStyle">Красный цвет</p>

<p [style.width]="'50%'">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Atque nobis saepe nisi commodi omnis. Fuga aut optio
  recusandae itaque, quibusdam aliquid, ullam explicabo sit nobis earum, autem asperiores at obcaecati.</p>

<p [style.width.%]="someNumber">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Atque nobis saepe nisi commodi omnis. Fuga aut
  optio
  recusandae itaque, quibusdam aliquid, ullam explicabo sit nobis earum, autem asperiores at obcaecati.</p>

<p>{{"5 Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repudiandae quibusdam autem quia modi accusamus labore distinctio exercitationem? Voluptatibus, minus totam? Corporis repellat voluptas beatae doloremque autem distinctio tenetur soluta deleniti?"
  | cutText }}</p>

<p>{{"5 Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repudiandae quibusdam autem quia modi accusamus labore distinctio exercitationem? Voluptatibus, minus totam? Corporis repellat voluptas beatae doloremque autem distinctio tenetur soluta deleniti?"
  | cutText : 10 }}</p>

<p>{{ ageOfUsers | sortData: "age" | json }}</p> -->

<!-- lesson 07
<button [style.color]="color" (click)="changeColor('red')">Кнопка</button>
<button [style.color]="color" on-click="changeColor('red')">Кнопка</button>
<p [style.color]="color" (click)="color = 'yellow'">Параграф</p>

<input type="text" (input)="checkCurrentValue($event)" (keydown.control.shift.enter)="this.color = 'pink'"> -->

<!-- lesson 08: Декораторы Input, Output | Двустороннее связывание
<app-child [childColor]="color" [name]="name" (nameChange)="setNewName($event)"></app-child>
<app-child [childColor]="color" [(name)]="parentName"></app-child>

<p>Имя родительского компонента: {{ parentName }}</p>

<button (click)="setNewName('имя, измененное с помощью родителя')">Родительская кнопка</button> -->

<!-- lesson 09 -->
<!-- <app-child>
  <hr>
  <p style="background-color: lightcoral;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptates!</p>
  <div style="background-color: lightgoldenrodyellow;" someAttribute>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam,
    voluptates!</div>
  <article style="background-color: lightgreen;" class="some-css-class">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam,
    voluptates!</article>
  <hr>
  <hr>
  <div class="example">
    <span>Цвет из родителя {{ color }}</span>
  </div>
  <hr>
</app-child>

<app-child>
  <app-ng-content-example></app-ng-content-example>
  <p>text</p>
  Lorem ipsum dolor sit amet.
</app-child> -->

<!-- lesson 10 -->
<!-- <p>Первый параграф!</p>

<ng-container *ngTemplateOutlet="test; context: { first: 'Hello', $implicit: 'World', someText: '!' }">
  <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi nesciunt excepturi cumque magnam ea itaque soluta magni, fugit beatae
    iure maxime unde provident nobis odit nam a saepe voluptatibus eligendi!</span>
</ng-container>

<p>Третий параграф!</p>

<ng-template #test let-item let-firstItem="first" let-someText="someText">
  <p>Второй параграф!</p>
  <p>{{ firstItem }}</p>
  <p>{{ item }}</p>
  <p>{{ someText }}</p>
</ng-template> -->

<!-- lesson 11 -->
<!-- <p *ngIf="toggler; then test else second">
  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Amet, provident?
</p>

<button (click)="toggler = !toggler">Кнопка</button>

<ng-template #test>
  <p>Текст из ng-template</p>
</ng-template>

<ng-template #second>
  <p>Текст из второго элемента ng-template</p>
</ng-template>

<div *ngFor="let item of arr; let evenItem = even; let currentIndex = index">
  <span *ngIf="evenItem">{{ item }}</span>
  <span style="color: orange; margin-left: 20px">{{ currentIndex }}</span>
</div>

<div *ngFor="let item of arr" [ngSwitch]="item">
  <i *ngSwitchCase="13">{{ item }}</i>
  <b *ngSwitchCase="true">{{ item }}</b>
  <span *ngSwitchDefault>{{ item }}</span>
</div> -->

<!-- lesson 12 ------------------------------------------>
<!-- <button (click)="toggler = !toggler">Кнопка</button>

<p *ngIf="toggler">
  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Amet, provident?
</p>

<ng-template [ngIf]="toggler" [ngIfThen]="test" [ngIfElse]="second">
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta, deserunt.
  </p>
</ng-template>

<ng-template #test>
  <p>Текст из ng-template</p>
</ng-template>

<ng-template #second>
  <p>Текст из второго элемента ng-template</p>
</ng-template>

<div *ngFor="let item of arr; let evenItem = even; let currentIndex = index">
  <span *ngIf="evenItem">{{ item }}</span>
  <span style="color: orange; margin-left: 20px">{{ currentIndex }}</span>
</div>

<hr>

<ng-template
  ngFor
  let-item
  [ngForOf]="arr"
  let-evenItem="even"
  let-currentIndex="index">
  <div>
    <span *ngIf="evenItem">{{ item }}</span>
    <span style="color: orange; margin-left: 20px">{{ currentIndex }}</span>
  </div>
</ng-template>

<div *ngFor="let item of arr" [ngSwitch]="item">
  <i *ngSwitchCase="123">{{ item }}</i>
  <b *ngSwitchCase="true">{{ item }}</b>
  <span *ngSwitchDefault>{{ item }}</span>
</div>

<hr>

<div *ngFor="let item of arr" [ngSwitch]="item">
  <ng-template [ngSwitchCase]="123">
    <i>{{ item }}</i>
  </ng-template>
  <i *ngSwitchCase="123">{{ item }}</i>
  <b *ngSwitchCase="true">{{ item }}</b>
  <ng-template [ngSwitchDefault]>
    <span>{{ item }}</span>
  </ng-template>
</div> -->

<!-- <ng-container *ngIf="true">
  <div *ngFor="let item of arr">
    <span>{{ item }}</span>
  </div>
</ng-container> -->

<!-- <p *ngIf="toggler; then test; else second">
  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Amet, provident?
</p>

<button (click)="toggler = !toggler">Кнопка</button>

<ng-template #test>
  <div>Текст из ng-template</div>
</ng-template>

<ng-template #second>
  <span>Текст из второго элемента ng-template</span>
</ng-template> -->

<!-- <button (click)="toggler = !toggler">Кнопка</button>

<p *ngIf="toggler ? true : false">Какой-то текст</p>
<p *ngIf="toggler && true">Какой-то текст</p>
<p *ngIf="false || toggler">Какой-то текст</p> -->

<!-- <p *ngIf="arr?.[0]">Есть такой элемент в массиве: {{ arr[0] }}</p> -->

<!-- <ng-container *ngIf="obj.first.second.third as info">
  <p>Имя: {{ info.name }}</p>
  <p>Возраст: {{ info.age }}</p>
</ng-container> -->

<!-- <div *ngFor="let item of arr; even as evenItem; trackBy: someTrackByMethod">
  <span *ngIf="evenItem">{{ item }}</span>
</div> -->

<!-- <div *ngFor="let item of arr | slice : 1 : 4">
  <span>{{ item }}</span>
</div> -->

<!-- lesson 13 ---------------------------------------->
<!-- <p ngClass="aqua">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vero, repellat!</p> -->

<!-- <p [ngClass]="'aqua'">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vero, repellat!</p> -->

<!-- <p [ngClass]="color">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vero, repellat!</p> -->

<!-- <p [ngClass]="['aqua', 'red', color, 'green']">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vero, repellat!</p> -->

<!-- <p [ngClass]="{ 'green': true, color: false }">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vero, repellat!</p>

<p [class]="{ 'green red pink': true, color: false }">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vero, repellat!</p> -->

<!-- <p style="background: red">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vero, repellat!</p>

<p [style]="'background: green'">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vero, repellat!</p> -->

<!-- <p [ngStyle]="{ color: color, background: 'black' }">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vero, repellat!</p> -->
<!-- <p [ngStyle]="{ color, background1: 'black' }">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vero, repellat!</p> -->

<!-- <p [ngStyle]="cssProperties">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vero, repellat!</p> -->

<!-- <p [style]="cssProperties">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vero, repellat!</p> -->

<!-- <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vero, repellat!</p> -->

<!-- <p [style.font-size.px]="20">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vero, repellat!</p> -->

<!-- <p [ngStyle]="{ 'font-size.px': 32 }">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vero, repellat!</p> -->

<!-- lesson 15 ------------------------------------------>
<!-- <button (click)="toggler = !toggler">Кнопка</button> -->

<!-- <p *ngIf="toggler">
  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Amet, provident?
</p>

@if (toggler) {
<p class="aqua">
  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Amet, provident?
</p>
} -->

<!-- <p *ngIf="toggler; else test">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta, deserunt.
</p>

<ng-template #test>
  <p>Текст из ng-template</p>
</ng-template>

@if (toggler) {
<p class="aqua">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta, deserunt.
</p>
} @else {
<p class="aqua">Текст из else</p>
} -->

<!-- @if (toggler) {
<p class="aqua">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta, deserunt.
</p>
} @else if (true) {
<p class="aqua">Еще одно условие</p>
} @else {
<p class="aqua">Текст из else</p>
} -->

<!-- <div *ngFor="let item of arr; trackBy: someTrackByMethod">
  <span>{{ item }}</span>
</div>

@for (item of arr; track item; let i = $index) {
<div class="aqua">
  <span>{{ i }}</span>
</div>
}

<hr> -->

<!-- @for (item of arr; track item; let parrentIndex = $index) { @for (item of arr;
track item; let childIndex = $index) {
<div class="aqua">
  <span>{{ childIndex }}</span>
</div>
} }

<hr /> -->

<!-- @for (item of []; track item) {
<div class="aqua">
  <span>{{ $index }}</span>
</div>
} @empty {
<p class="aqua">Массив пустой</p>
}

<hr /> -->

<!-- @for (item of arr; track $index) {
<div class="aqua">
  @switch (item) { @case (123) {
  <i>{{ item }}</i>
  } @case (true) {
  <b>{{ item }}</b>
  } @default {
  <span>{{ item }}</span>
  } }
</div>
} -->

<!-- <ng-container *ngIf="true">
  <div *ngFor="let item of arr">
    <span>{{ item }}</span>
  </div>
</ng-container> -->

<!-- <p *ngIf="toggler; then test; else second">
  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Amet, provident?
</p>

<button (click)="toggler = !toggler">Кнопка</button>

<ng-template #test>
  <div>Текст из ng-template</div>
</ng-template>

<ng-template #second>
  <span>Текст из второго элемента ng-template</span>
</ng-template>

<!-- <button (click)="toggler = !toggler">Кнопка</button>

<p *ngIf="toggler ? true : false">Какой-то текст</p>
<p *ngIf="toggler && true">Какой-то текст</p>
<p *ngIf="false || toggler">Какой-то текст</p> -->

<!-- <p *ngIf="arr?.[0]">Есть такой элемент в массиве: {{ arr[0] }}</p> -->

<!-- <ng-container *ngIf="obj.first.second.third as info">
  <p>Имя: {{ info.name }}</p>
  <p>Возраст: {{ info.age }}</p>
</ng-container> -->

<!-- <div *ngFor="let item of arr; even as evenItem; trackBy: someTrackByMethod">
  <span *ngIf="evenItem">{{ item }}</span>
</div> -->

<!-- <div *ngFor="let item of arr | slice : 1 : 4">
  <span>{{ item }}</span>
</div> -->

<!-- lesson 16 --------------------------------->
<!-- @if (toggler) {
<app-child [title]="title" [name]="name" [obj]="obj"></app-child>
}

<button (click)="toggler = !toggler">Toggler</button> -->

<!-- lesson 17 --------------------------------->
<!-- <p #paragraph>Просто параграф</p>

<ng-template #template>
  <p>Содержимое внутри ng-template</p>
</ng-template>
<ng-container *ngTemplateOutlet="template"></ng-container> -->

<!-- <app-child #component>Lorem, ipsum dolor.</app-child> -->
<!-- <app-child>Lorem, ipsum dolor.</app-child> -->

<!-- <app-child #paragraph>Lorem, ipsum dolor.</app-child>
<p #paragraph>Просто параграф</p>

<ng-template #template>
  <p>Содержимое внутри ng-template</p>
</ng-template>
<ng-container *ngTemplateOutlet="template"></ng-container> -->

<!-- <app-child #component>Lorem, ipsum dolor.</app-child> -->
<!-- <app-child>Lorem, ipsum dolor.</app-child> -->
<!-- <app-child #paragraph>Lorem, ipsum dolor.</app-child> -->

<!-- lesson 18 --------------------------------->
<!-- <app-child>Обычный текст</app-child>
<app-child>
  <p #tag>Параграф</p>
</app-child>

<app-child>
  <ng-template #tag>
    <p>Элемент ng-template</p>
  </ng-template>
</app-child>

<app-child>
  <ng-template>
    <p>Элемент ng-template</p>
  </ng-template>
</app-child>

<app-child>
  <app-ng-content-example>Компонент ng-content-example</app-ng-content-example>
  <app-ng-content-example
    >Компонент ng-content-example
    <app-child>
      <app-ng-content-example #descendants
        >Компонент ng-content-example</app-ng-content-example
      >
    </app-child>
  </app-ng-content-example>
</app-child> -->

<!-- lesson 19 --------------------------------->
<p>Параграф без директивы</p>
<p appCustomDirective>Параграф с директивы</p>
