// body {
//   background-color: tgb(51, 51, 51);
//   color: white;
// }

// .red {
//   color: red;
// }

// .blue {
//   color: blue;
// }

// .pink {
//   color: pink;
// }

// .green {
//   color: green;
// }

// .aqua {
//   color: aqua;
// }

// .orange {
//   color: orange;
// }

// h1 {
//   color: orange;
// }

// ::ng-deep app-first h1 {
//   background-color: black;
// }

// :host ::ng-deep app-first h1 {
//   background-color: black;
// }
