:host {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  max-width: 60vw;
  margin: 12px auto 24px;
}
:host form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 4px;
}
:host input {
  border: 2px solid gray;
  padding: 6px;
  margin: 6px 0;
  width: 100%;
  border-radius: 6px;
  margin-bottom: 6px;
  outline: none;
}
:host div {
  max-width: 400px;
  width: 100%;
}
:host .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
}
:host .buttons button {
  cursor: pointer;
  padding: 6px 18px;
  margin-top: 6px;
}
:host .buttons button:disabled {
  cursor: default;
}