:host {
  color: cyan;
  display: block;
}

:host(.orange) {
  color: orange;
}

:host-context {
  background-color: darkblue;
}

:host-context(.orange) {
  background-color: lime;
}

:host-context(app-root) {
  background-color: darkred;
}