input {
  border: 2px solid gray;
  padding: 6px;
  margin: 6px 0;
  width: 100%;
  border-radius: 6px;
  margin-bottom: 6px;
  outline: none;
}

.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 16px;
}
.buttons button {
  cursor: pointer;
  padding: 6px 18px;
  margin-top: 6px;
}
.buttons button:disabled {
  cursor: default;
}