.profile-card {
  border: 1px solid var(--light-color);
  padding: 32px 24px;
  display: grid;
  grid-template-columns: repeat(2, 1fr) 250px 1fr;
  grid-gap: 32px;
}

.avatar-name {
  display: grid;
  grid-template-columns: 70px 1fr;
  grid-gap: 20px;
}

.profile-card__avatar {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  overflow: hidden;
}

.profile-card__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
}

.profile-card__tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 4px;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
}